body {
    display: grid;
    grid-template-columns: 20vw 80vw;
    min-height: 100vh;
    overflow-y: auto;
}

.header {
    background-color: blue;
    width: 80vw;
    height: 20vh;
}

.sidebar {
    background-color: greenyellow;
    width: 20vw;
    min-height: 100vh;
    /* overflow-y: auto; */
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    gap: 100px;
    text-align: left;
}

.function>ol {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user_experience>ol {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboard {
    background-color: rgb(229, 33, 33);
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 60vw 20vw;
}

.footer {
    background-color: blueviolet;
    width: 100vw;
}

.left_dash {
    background-color: burlywood;
    width: 60vw;
    grid-template-rows: 10vh 70vh;
}

.project-title {
    width: 60vw;
    height: 10vh;
    background-color: brown;
}

.boxes {
    background-color: cornflowerblue;
    height: 70vh;
    display: grid;
    grid-template-columns: 30vw 30vw;
}

.boxes>div {
    width: 300px;
    height: 300px;
    background-color: crimson;
}

.right_dash {
    background-color: antiquewhite;
    width: 20vw;
    height: 80vh;
}

/* .sidebar{
    width: 3vw;
    font-size: 0;
} */