body{
    display: grid;
    grid-template-columns: 20vw 80vw;
}

.header{
    background-color: blue;
    width: 80vw;
    height: 20vh;
}

.sidebar{
    background-color: greenyellow;
    width: 20vw;
    height: 100vh;
    display: grid;
}
.dashboard{
    background-color: rgb(229, 33, 33);
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 60vw 20vw;
}
.footer{
    background-color: blueviolet;
    width: 100vw;
}
.left_dash{
    background-color: burlywood;
    width: 60vw;
    grid-template-rows: 10vh 70vh;
}
.project-title{
    width: 60vw;
    height: 10vh;
    background-color: brown;
}
.boxes{
    background-color: cornflowerblue;
    height: 70vh;
    display: grid;
    grid-template-columns: 30vw 30vw;
}
.boxes>div{
    width: 300px;
    height: 300px;
    background-color: crimson;
}

.right_dash{
    background-color: antiquewhite;
    width: 20vw;
    height: 80vh;
}



