body{
    color: white;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    
}

.sidebar{
    background: linear-gradient(135deg, #00c6ff, #0072ff);
}
.header{
    background: linear-gradient(90deg, #63bafd, #0072ff);
}
/* .header-left{
background-color: rgb(0, 91, 247); 
}
.right_dash{
    background-color: rgb(109, 162, 255);
} */
 .left_dash,
.right_dash{
    background-color:white;
    border:2px solid black;
 }

 .boxes>div{
    background: linear-gradient(90deg, #00c6ff, #0072ff);
 }